<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar color="dark">
        <ion-title size="large">{{ title }}</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
        <ion-card>
            <ion-card-header color="dark">
              <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
              <ion-card-title>Q1 How to apply for government jobs in india ?</ion-card-title>
            </ion-card-header>
          
            <ion-card-content class="text-justify margin-top-10">
                <p>
                    Where Application has a different application process. While applying for any govt jobs you need to follow the official notification which is mentioned while releasing the notification in the official website. Here in our website we give you exact information in the below of the job description and also we mention the direct link to apply. Through using the link follow the guidelines and apply the Notification without missing any details, also make sure to check twice and save application continuously and submit your application
                </p>
            </ion-card-content>
        </ion-card>
    
        <ion-card>
            <ion-card-header color="dark">
              <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
              <ion-card-title>Q2 which is the best place to find the Govt jobs ?</ion-card-title>
            </ion-card-header>
          
            <ion-card-content class="text-justify margin-top-10">
                <p>
                    There are many govt jobs notifications are released every day, but the biggest task to find all jobs is too hard, You have to follow the official website, Newspapers, Media and all. Here we are solving the problem that many or facing it. We do provide every Notification including the Central, PSC, PSU and more. You can also subscribe to our service and we provide free alerts to your email, WhatsApp, Push notification and SMS as well. This is the only website allgovernmentjobs.in solving the problem to many aspirants who Looking for govt jobs.
                </p>
            </ion-card-content>
        </ion-card>
    
        <ion-card>
            <ion-card-header color="dark">
              <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
              <ion-card-title>Q3 how to prepare for government jobs ?</ion-card-title>
            </ion-card-header>
          
            <ion-card-content class="text-justify margin-top-10">
                <p>
                    Best way to prepare for government jobs by self reading books and taking coaching in an institute. As we have seen that many of the aspirants are preparing themselves through the internet by enrolling to the courses through sites or Online Coaching. One simple tip I can say you that, while you are preparing for any govt jobs, you must follow Time Management, Plan the syllabus, Know your strengths and weaknesses, and get support from the seniors. Dedicating in yourself is the only key for success.
                </p>
            </ion-card-content>
        </ion-card>
    
        <ion-card>
            <ion-card-header color="dark">
              <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
              <ion-card-title>Q4 which degree is best for government jobs ?</ion-card-title>
            </ion-card-header>
          
            <ion-card-content class="text-justify margin-top-10">
                <p>
                    For every different notification there are many different education qualifications. Particularly if you are looking for a high end, and Professional job at-least you must have a Under graduation in any course either be in engineering, medical, Law or whatever. You must have a good knowledge in every subject that helps you to crack the exam easily.
                </p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>  