<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ title }}</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-card>
        <ion-card-header>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          <ion-card-title>{{ title }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="text-justify">
            <p>
                Aiming for a government job is an excellent thing but where it sucks is which government job is right for you. For that, firstly, you have to get to know your worth. What talent you have, and in which field you can give your best. It's not all about money but about your passion, in what you are interested in. To get to know which government job is perfect for you, this article is the best.
            </p>                        
            <br>
            
            <ol>
                <li>
                    <h2>MOTIVATE YOURSELF FOR GOVT JOBS</h2>
                    <p class="margin-top-10">
                        Let's look at UPSC now. Get a few things straight first. It's a difficult exam. It is not impossible to clear, but it is quite difficult. That is why there is such a low pass rate. Only about half of those who take the mains exam are chosen for interviews, and only about 500 are chosen. First, congratulate yourself for passing the examinations and interviews and being shortlisted. Feel like you're on top of the world. Be ecstatic. It's time to rejoice. Second, be patient. Yes, indeed. WAIT, since your categorization is determined by your score. You can gain IAS if you have the AIR 1. However, you can always refuse and accept a lower-paying job. It's neither impossible nor unattainable. Every year, people do it. You, too, can do it. Have faith in yourself.
                    </p>
                    <p class="margin-top-10">
                        Whatever test you choose will be competitive, such as UPSC CSE, CAT, GATE, SSC, and so on. So, if you want a good job in India, you'll have to work hard. One important aspect to remember is that it all depends on your interests and graduation degrees, such as if you want to pursue banking, academics, IAS, defence, or SSC. As a result, one should strive for academic excellence.
                    </p>
                    <hr>
                    <br>
                </li>

                <li>
                    <h2>SOFT SKILLS ARE THE KEY FOR GOVT JOBS</h2>
                    <p class="margin-top-10">
                        Now let's talk about decency and honesty. Nobody but you can prevent you from doing good work. So don't be concerned about it. If you keep to your morals, you'll be able to get through the difficult times. When you are taking a competitive exam, you must be motivated. It makes no difference whether the exam is competitive or not. It is necessary to be motivated. Another option is to enlist the assistance of your pals. A friend can teach you better than anyone else. We all have that one friend in the group that excels in school or is at least on par with the others. Make use of your favourite teacher's assistance as well. Teachers make excellent recommendations. Simply make your concepts more apparent and be self-assured.
                    </p>

                    <p class="margin-top-10">
                        In India, getting a government job is a popular practice. The majority of students in India enrol in various degrees at Indian universities to land a government job once they complete their studies. Although this picture cannot be applied to all pupils, a large percentage of them have been indoctrinated since childhood that government positions provide a stable and secure living.
                    </p>

                    <p class="margin-top-10">
                        Indian children are always protected by their parents, and the majority of them strive to realize their father's, mother's, or both of their ambitions. This class of pupils has parents that were born during the 1950s mentality era. Getting a government position at the time was akin to becoming a billionaire in today's world. People who worked for the government used to be respected in society. They were once considered as the family's king and the people's most intelligent individual.
                    </p>
                    <p class="margin-top-10">
                        The fundamental issue with today's young is that they are solely interested in government jobs. If a student at his college speaks about innovation or research by accident, he gets bullied after so much misdirection and phoney vision in life. Life isn't always easy, and not everyone has the same financial situation. In India, regardless of your abilities, education, or experience, there is no guarantee of a private job. Nobody cares if you've been paying high taxes for 15–20 years and then lose your job. And now you're jobless and unpaid. So know who you are, how much danger you can tolerate, what you can accomplish, and what you require in life. Make the appropriate decision.
                    </p>
                    <hr>
                    <br>
                </li>

                <li>
                    <h2>GOVERNMENT JOBS DEMAND</h2>
                    <p class="margin-top-10">
                        Jobs in the government are in high demand. The primary driver of this demand is job security. Other benefits of government positions include a good income, an appealing increment structure, holidays, fixed working hours, perks and concessions, and so on.
                    </p>

                    <p class="margin-top-10">
                        I'll explain how to get a government job quickly in this article. It does not, however, contain any shortcuts. Aspirants must possess this quality. This means they only hire when current staff leaves. As a result, you will have to wait for such government positions. Candidates may have to wait years in some cases.
                    </p>

                    <p class="margin-top-10">
                        It is crucial, above all, that you maintain your choices open. Don't shirk your responsibilities. Whatever career you choose, you must be responsible since your job will always have an impact on at least one other person. You can't blame yourself if you procrastinate from time to time. Try to gain a better understanding of your learning style, don't doubt your ability, visualize yourself starting and concentrating on the task at hand.
                    </p>
                    <hr>
                </li>

            </ol>

            <h3 class="text-center">Things you should know about Government Jobs</h3>
            <ol>
                <li>
                    Every Notification has a Lakhs of applicants
                </li>

                <li>
                    You must be intelligent and sharp to Crack exam
                </li>

                <li>
                    Dedicate all your time before going to prepare
                </li>

                <li>
                    Communicate with others to share your knowledge
                </li>
            </ol>
        </ion-card-content>
    </ion-card>
</ion-content>  