<ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" @slideLeft>
    <ion-header collapse="condense">
      <ion-toolbar color="primary">
        <ion-title size="large">{{ title }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header color="primary">
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          <ion-card-title>{{ title }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="text-justify margin-top-10">
            <div id="container">
                <p>
                    For the past decade, there has been a stark rise in the demand for Government Jobs. Indians have always preferred government jobs, but with the rise in the IT sectors, a huge portion of the youth choose Medical or Engineering as their career options. These fields of studies are professional in nature and come with merit-based immediate campusing and high-end placements with a pocket full of salary. Now the question comes despite having a satisfactory paycheck and a respectable position in the society, why is the youth shifting towards government jobs?
                </p>
                <br>
                <p>
                    We have enlisted some aspects advocating government jobs being the youth preference.
                </p>
                <hr>
                <br>
                <ol>
                    <li>
                        <h2>JOB SECURITY</h2>
                        <p class="margin-top-10">
                            Everyone who considers government jobs to be attractive is aware of this perk. The Govt Job Security is as iron-h2 and that lures many! This is something that is majorly missing in the private sector. The private sector judges according to your skills and working capacities. Whereas, you get an assured heavy monthly salary in the Public Sector, without facing a lot of job pressure. There are enormous targets to be fulfilled in the Private sectors, the anxiety with deadlines, and the targets are something that takes away job satisfaction from most of the employees who prefer a secured and stable job.
                        </p>
                        <hr>
                        <br>
                    </li>
                    <li>
                        <h2>ASSURED PROMOTIONS</h2>
                        <p class="margin-top-10">
                            Promotions in Government Jobs are way more accessible than that in the jobs of the Private Sector. Government Job promotions are way more experience and merit centric, rather than skill centric. In the career of Government Officers or Employees, the promotions are assured, unless they are involved in something which makes the authority dismiss or demote them. The promotions are mainly done on the basis of the experience of that Employee as well as his/her educational qualifications. There are certain Group C and D Government jobs where a person with a minimum of Intermediate pass certificate can apply for. If that person gets the job, he will get promotion only to that post which accepts the eligibility of an Intermediate pass candidate. Sometimes, based on experience, the employees are given higher posts, but that too until a certain post.
                        </p>
                        <hr>
                        <br>
                    </li>
                    <li>
                        <h2>RESERVATIONS</h2>
                        <p class="margin-top-10">
                            Someone with a caste certificate can get benefits in Government Jobs. Especially the candidates from Scheduled Class or Scheduled Tribe background can get lesser cut off marks for qualifying the examinations, extended age limit to apply for the job, and easier promotions after getting the job. Valid Certificates must be provided by the candidates which clearly states them to be either SC, ST, or OBC (Non-creamy Layer).
                        </p>
                        <hr>
                        <br>
                    </li>
                    <li>
                        <h2>SUFFICIENT SALARY</h2>
                        <p class="margin-top-10">
                            A standard Government Job pays you enough to afford a quality standard of living. You may be an engineer by qualification, and see your colleague getting 70k per month, whereas you are getting 50k. It is not a point of disappointment. The UPSC CSE examinations, 2019 saw its top ten toppers from Engineering background. Now the thing for yourself, why are these brilliant minds around the country shifting towards the public sector, leaving the private sector where they could have earned a fortune.
                        </p>
                        <p class="margin-top-10">
                            There are deserving payscales with essential allowances like Dearness Allowances, Rent Allowances, etc. It also serves facilities like GPF (General Provident Fund) which is a savings cum retirement scheme, especially for Government Employees. This even ensures you a smooth post-retirement life! This attitude and farsightedness are worth a round of applause. In certain higher posts, the Officer can even go on a study leave to foreign universities for further education, that too will be funded by the Government of India. The officers in IFS (Indian Foreign Service) Group A and B get the facility to educate their children in International schools, funded by the Government.
                        </p>
                        <hr>
                        <br>
                    </li>
                    <li>
                        <h2>HIGHLY RESPECTED JOBS</h2>
                        <p class="margin-top-10">
                            A government post holder, however small or big, is always admired by everyone. Government employees work directly under the State/Central Government in Secretariat, Directorate, or Regional Offices. A job that has the Government as it's direct authority is definitely alluring. This respect, power, and authority attract most of the aspirants.
                        </p>
                        <hr>
                        <br>
                    </li>
                    <li>
                        <h2>SERVING INDIA</h2>
                        <p class="margin-top-10">
                            Who doesn't want to serve their nation, isn't it? Government jobs, irrespective of higher or lower posts, comes with the obligation of serving the nation, serving for the greater good. Every Government employee has the responsibility to uphold our Tricolour National flag with its due dignity. Every day of their life, they work towards building a better nation! Isn't that amazing?
                        </p>
                        <hr>
                        <br>
                    </li>
                    <li>
                        <h2>LESSER JOB PRESSURE</h2>
                        <p class="margin-top-10">
                            Officially you are always bound to report at your service whenever required, but that's very rare. This usually is more frequent with those in the police service and the Group A officers sitting on crucial posts. For the rest of the employees, they have the liberty to leave their work at their desks. So, they enjoy a better work-life balance.
                        </p>
                        <hr>
                        <br>
                    </li>
                    <li>
                        <h2>LEAVE POLICY</h2>
                        <p class="margin-top-10">
                            Though the work from home option is not available for Government jobs, the employees get sufficient leaves for traveling, sickness, etc. There is also a provision of paid maternity leave for pregnant women employees. Private offices grant very few numbers of leaves. The Government employees get to leave on Public Holidays and National Holidays, etc. Whereas the International MNC employees don't even get leave on the Indian Holidays.
                        </p>
                        <hr>
                        <br>
                    </li>
                    <li>
                        <h2>FREE TIME</h2>
                        <p class="margin-top-10">
                            Due to the lesser job pressure, the employees can enjoy themselves when they are not in the office. They don't have to carry much of the work burden to their house. They get sufficient family time.
                        </p>
                        <p class="margin-top-10">
                            There are several exams conducted throughout the country, such as UPSC CSE, CDS, NDA, IES, CAPF, SSC, State CS, etc to filter out the superior brains across the country. If you are a Government Job aspirant, you must have a generalistic knowledge about a spectrum of subjects, complementing Current Affairs, and International Relations.
                        </p>
                        <p class="margin-top-10">
                            In short, attractive perks like Job Satisfaction, Authority, the sense of service towards one's country, Assured Promotions, High Respect, a sufficient salary package, and secured post- retirement life, are the main reasons why people opt for government jobs.
                        </p>
                        <hr>
                    </li>
                </ol>
            </div>
        </ion-card-content>
    </ion-card>
  
    <ion-card>
        <ion-card-header color="primary">
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            <ion-card-title>Note</ion-card-title>
          </ion-card-header>
        <ion-card-content class="text-justify margin-top-10">
            <h3>Things you should know about Government Jobs</h3>
            <ol>
                <li>
                    Every Notification has a Lakhs of applicants
                </li>

                <li>
                    You must be intelligent and sharp to Crack exam
                </li>

                <li>
                    Dedicate all your time before going to prepare
                </li>

                <li>
                    Communicate with others to share your knowledge
                </li>
            </ol>
        </ion-card-content>
    </ion-card>  
</ion-content>  