<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" @slideLeft>
    <ion-header collapse="condense">
      <ion-toolbar color="dark">
        <ion-title size="large">{{ title }} hello</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <strong class="capitalize">{{ title }}</strong>
      <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>

      <ion-segment (ionChange)="segmentChanged($event)" color="primary" value="categories" class="margin-bottom-10">
        <ion-segment-button value="categories">
          <ion-label>Categories</ion-label>
        </ion-segment-button>
        <ion-segment-button value="qualifications">
          <ion-label>Qualifications</ion-label>
        </ion-segment-button>
        <ion-segment-button value="states">
          <ion-label>States</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ng-container *ngIf="selectedTab == 'categories'">
        <h1>Jobs By Categories</h1>
        <ion-button @slideLeft *ngFor="let category of categories; let i = index" expand="block" shape="round" class="margin-bottom-10" (click)="searchArticle(category)">
        <b>{{ category }}</b>
        </ion-button>
      </ng-container>

      <ng-container *ngIf="selectedTab == 'qualifications'">
        <h1>Jobs By Qualifications</h1>
        <ion-button @slideLeft *ngFor="let qualification of qualifications; let i = index" expand="block" shape="round" class="margin-bottom-10" (click)="searchArticle(qualification)">
          <b>{{ qualification }} Jobs</b>
        </ion-button>
      </ng-container>

      <ng-container *ngIf="selectedTab == 'states'">
        <h1>Jobs By States</h1>
        <ion-button @slideLeft *ngFor="let state of states; let i = index" expand="block" shape="round" class="margin-bottom-10"  (click)="searchArticle(state)">
          <b>{{ state }} Jobs</b>
        </ion-button>
      </ng-container>
</ion-content>  