ion-menu-button {
    color: var(--ion-color-primary);
}

.text-center {
    text-align: center;
}

.margin-top-10 {
    margin-top: 10px;
}

.text-justify {
    text-align: justify;
}

.margin-left-10 {
    margin-left: 2px;
}

.font-size-tags {
    font-size: large;
}